.App {
  text-align: center;
  font-family: American Typewriter;
}

.App-header {
  background-color: #282c34;
  min-width: 450px;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.SearchBar {
  background-color: #CB0000;
  min-height: 200px;
  min-width: 450px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SearchBox {
  min-width: 225px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  border: 3px solid;
  font-size: 15px;
  font-family: American Typewriter;
}

.SearchButton {
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: lightgray;
  font-family: American Typewriter;
}

.TheEvents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.ComedyStoreList{
  min-width: 1000px;
}

.IceHouseList{
  min-width: 1000px;
}

.TicketMasterList{
  min-width: 1000px;
}

.EventList {
  margin-top: 10px;
  min-width: 1000px;
  border: 3px solid;
  margin-right: 20px;
  margin-left: 20px;
}

.EventHeader {
  font-size: 20px;
  border-bottom: 3px solid;
  background-color: lightgray;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.signature {
  min-width: 1000px;
  border-bottom: 3px solid;
  padding-bottom: 10px;
}

.Performer {
  color: #CB0000;
}

.Link {
  color: lightgray;
  font-weight: bold;
}
